.main-button {
    /* font-family: 'Tenali Ramakrishna', sans-serif; */
    background-color: lightcoral;
    border: 1px solid rgb(192, 94, 94);
    border-radius: 4;
    padding: 0.5em 1.2em;
    font-size: 1.25rem;
}
 
.box {
    margin: 0 auto;
    text-align: center;
}

.puf {
    display: none;
}

p {
    font-family: sans-serif;
    font-weight: bolder;
}
